
    main{
        float: center;
        font-family: "Calibri", sans-serif;
        text-align: center;
        color: #000000;

}

.julio {
        float: center;
}


/*centralizar os inputs e a imagem